@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");

body {
	margin: 0 auto;
	padding: 0;
	font-family: "roboto";
	background-color: #9b5de5;
	background: no-repeat url("../images/8753.jpg");
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

form {
	margin: 0 auto;
	margin-top: 200px;
	min-width: 800px;
	min-height: 420px;
	font-size: 35px;
	background-color: #9b5de5;

	display: flex;
	flex-direction: column;
	border-radius: 15px;

	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.submit-btn {
	margin: 0 auto;
	font-size: 25px;

	background: #6d6def;
	border-radius: 999px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	font-family: "roboto";
	font-weight: 700;
	/* line-height: 24px; */
	opacity: 1;
	outline: 0 solid transparent;
	padding: 20px 45px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: fit-content;
	word-break: break-word;
	border: 0;
}

form label {
	font-size: 35px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: -25px;
	color: #262523;
}

.basicPassLabel {
	margin-top: 35px;
}

form input {
	margin: 0 auto;
	margin-bottom: -30px;
	font-size: 32px;
	padding: 8px 100px;
	text-align: center;
	outline: none;
	border: 5px solid #00bbf9;
	border-radius: 30px;
	font-family: "roboto";
	cursor: pointer;
}

.generated-pass {
	margin: 0 auto;
	margin-top: 100px;
	min-width: fit-content;
	min-height: fit-content;
	padding: 30px 70px;
	font-size: 35px;
	background-color: #d0c7db;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	border: 5px solid #9b5de5;
	opacity: 0.75;
}

.passwordHolder {
	margin: 0 auto;
	color: #262523;
}
